{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row"  style="background-color: #fff;">
	<div class="col-12">
		<section class="box features" style="width: 500px; margin: 25px auto; ">
			<h2 class="major"><span>Registrar Nuevo Trabajador</span></h2>
			<div style="width: 100%; background-color: gainsboro; padding: 2em; border-radius: 8px;">
				<form method="POST">
				{% csrf_token %}
				{{ form.as_p}}
				{{ form2.as_p}}
				<input type="submit" value="Registrar">
			</form>
			</div>
		</section>
	</div>
</div>
{% endblock %}